@import "tailwindcss";

/* dancing-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/dancing-script-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.menu-font {
  font-family: "Dancing Script";
}

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --aspect-portrait: 9 / 24;

  --color-crepe: #E8A96B;
  --color-galette: #A8674D;
  --color-rougeLPB: #D93927;
  --color-ardoise: #0A2938;
}